Flask==2.3.0
Flask-Login==0.6.3
Flask-Migrate==4.1.0
Flask-MySQL==1.6.0
Flask-MySQLdb==2.0.0
Flask-SQLAlchemy==3.1.1
Jinja2==3.1.4
MarkupSafe==3.0.1
numpy==1.24.0
matplotlib==3.7.2
pandas==2.2.2
pillow==10.4.0
scikit-learn==1.5.1
scipy==1.14.0
seaborn==0.13.2
SQLAlchemy==2.0.37
tensorflow==2.17.1
tensorflow-estimator==2.13.0
tensorflow-io-gcs-filesystem==0.31.0
Werkzeug==2.3.0

